<article id="activity" class="panel">
  <header>
    <h1 class="text-gradient font-bold text-xl">My activity</h1>
  </header>
  <figure>
    <embed
      src="https://wakatime.com/share/@6c3ceacb-1336-45a8-88fd-46d35b3f6277/e23ce85f-623c-44c2-9da9-18f19a91329d.svg"
    />
  </figure>
  <figure>
    <embed
      src="https://wakatime.com/share/@6c3ceacb-1336-45a8-88fd-46d35b3f6277/30e89527-96dd-4128-84b2-1362ebf85e57.svg"
    />
  </figure>
</article>
