<article id="comments" class="panel p-2">
  <header>
    <h1 class="text-gradient font-bold text-xl">Reviews & Comments</h1>
  </header>
  <script src="https://utteranc.es/client.js"
    repo="kirill-dev-pro/cv"
    issue-term="pathname"
    theme="github-light"
    crossorigin="anonymous"
    async>
  </script>
</article>
