<article id="jobrun" class="panel">
  <header>
    <h1 class="text-gradient font-bold text-xl">Hey there! Im actively looking for a job. Check my resume.</h1>
  </header>
  <embed src="assets/pdf/Resume.pdf" type="application/pdf" />
  <p>If it dowsnt work in your browser you can <a href="assets/pdf/Resume.pdf" class="underline">click here to
    download the PDF file.</a></p>

</article>

<style>
  embed {
    height: min(800px, 80vh);
    width: 100%;
  }
  .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>