<article id="jobrun" class="panel">
  <header>
    <h1 class="text-gradient font-bold text-xl">
      Hey there! Im actively looking for a job. Check my resume.
    </h1>
  </header>
  <embed
    src="assets/pdf/2025/Kirill Chuprov — Fullstack engineer.pdf"
    type="application/pdf"
  />
  <p>
    If it dowsnt work in your browser you can <a
      href="assets/pdf/2025/Kirill Chuprov — Fullstack engineer.pdf"
      class="underline">click here to download the PDF file.</a>
  </p>
</article>

<style>
  embed {
    height: min(800px, 80vh);
    width: 100%;
  }
</style>
